
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Let's React</title>
	@Styles.Render("~/styles/app.min.css")

	@RenderSection("styles", false)

</head>
<body>
    <div> 
		@RenderBody()
    </div>

	@Scripts.Render("~/scripts/react/react-with-addons-0.13.1.min.js")

	@Scripts.Render("~/app/views/Blog.jsx")

	@RenderSection("scripts", false)

</body>
</html>
